<app-staff-dashboard-shell
  idPrefix="supervisor"
  [dashboardTitle]="supervisorShellDashboardTitle"
  panelHeadingId="supervisor-dashboard-heading"
  notificationsKind="supervisor"
  [roleDisplayLabel]="supervisorShellRoleDisplayLabel"
  [logoAriaLabel]="supervisorShellLogoAriaLabel"
  [navAriaLabel]="supervisorShellNavAriaLabel"
  [activeTab]="tabState.activeTab()"
  [userDisplayName]="headerUserDisplayName"
  [mobileDrawer]="false"
  (logoClick)="goToOverviewFromLogo()"
  (tabSelected)="setActiveTab($event)"
  (logoutClick)="logout()"
>
  <div staffShellAfterHeader>
    <app-staff-dashboard-quick-actions />
  </div>

  <main
    staffShellMain
    class="dashboard-content"
    id="supervisor-dashboard-main"
    aria-labelledby="supervisor-dashboard-heading"
  >
    <app-pharmacy-coverage-summary-card />

    <div
      *ngIf="hasVisitedTab('overview')"
      [hidden]="tabState.activeTab() !== 'overview'"
      class="tab-content"
      role="tabpanel"
      id="supervisor-panel-overview"
      aria-labelledby="supervisor-tab-overview"
    >
      <app-overview [onNavigate]="setActiveTab.bind(this)"></app-overview>
    </div>

    <div
      *ngIf="hasVisitedTab('users')"
      [hidden]="tabState.activeTab() !== 'users'"
      class="tab-content"
      role="tabpanel"
      id="supervisor-panel-users"
      aria-labelledby="supervisor-tab-users"
    >
      <app-users-management></app-users-management>
    </div>

    <div
      *ngIf="hasVisitedTab('staff')"
      [hidden]="tabState.activeTab() !== 'staff'"
      class="tab-content"
      role="tabpanel"
      id="supervisor-panel-staff"
      aria-labelledby="supervisor-tab-staff"
    >
      <app-staff-management></app-staff-management>
    </div>

    <div
      *ngIf="hasVisitedTab('areas')"
      [hidden]="tabState.activeTab() !== 'areas'"
      class="tab-content"
      role="tabpanel"
      id="supervisor-panel-areas"
      aria-labelledby="supervisor-tab-areas"
    >
      <app-areas-management></app-areas-management>
    </div>

    <div
      *ngIf="hasVisitedTab('beds')"
      [hidden]="tabState.activeTab() !== 'beds'"
      class="tab-content"
      role="tabpanel"
      id="supervisor-panel-beds"
      aria-labelledby="supervisor-tab-beds"
    >
      <app-beds-management></app-beds-management>
    </div>

    <div
      *ngIf="hasVisitedTab('patients')"
      [hidden]="tabState.activeTab() !== 'patients'"
      class="tab-content"
      role="tabpanel"
      id="supervisor-panel-patients"
      aria-labelledby="supervisor-tab-patients"
    >
      <app-patients-management></app-patients-management>
    </div>

    <div
      *ngIf="hasVisitedTab('schedules')"
      [hidden]="tabState.activeTab() !== 'schedules'"
      class="tab-content"
      role="tabpanel"
      id="supervisor-panel-schedules"
      aria-labelledby="supervisor-tab-schedules"
    >
      <app-schedules-management></app-schedules-management>
    </div>
  </main>
</app-staff-dashboard-shell>
